/*http://fonts.google.com/*/
@font-face{
  font-family: EastSeaDokdo;
  src: url(assets/fonts/EastSeaDokdo-Regular.ttf)
}
@font-face{
  font-family: Hana;
  src: url(assets/fonts/HanaleiFill-Regular.ttf)
}
@font-face{
  font-family: Kufam;
  src: url(assets/fonts/Kufam-Italic-VariableFont_wght.ttf)
}
@font-face{
  font-family: Cinzel;
  src: url(assets/fonts/Cinzel-VariableFont_wght.ttf)
}
.container-fluid {
  background-color: #fffafa;
  margin-top: 20px;
}
#title {
  text-align: left;
  font-size: 500%;
  font-family: "EastSeaDokdo";
}
#subtitle {
  text-align: left;
  font-size: 300%;
  font-family: "EastSeaDokdo";
}
.board {
  margin-top: 15px;
  margin-bottom: 100px;
  margin-left: 10px;
  font-size: 12px;
  font-weight: bold;
  font-family: "Kufam";
  padding: 50px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.cell {
  height: 100px;
  border: #ffffff 0.2px dotted;
}
.popover-header {
  font-family: "Cinzel";
  font-weight: bold;
  background-color: #696969;
  color: #DAA520;

}
.popover-body {
  font-family: "Cinzel";
}
.col-1 cell{
  text-align: left;
}

.dice {
  text-align: center;
  padding: 0 10px 0 10px;
}

.card {
  margin-top: 10px;
}

.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

img {
  width: 80%;
}
.img1{
  width: 50%;
}