.container-fluid{
  background-color: #FFFAFA;
}
.top{
  margin-top: 20px;
}
h1{
  text-align: center;
  font-family: 'Trocchi';
}
h2{
  text-align: center;
  font-family: 'Source Sans Pro';
}
.board {
  margin-top: 15px;
  margin-bottom: 100px;
  margin-left: 10px;
  font-size: 10px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  padding: 50px; 
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.cell {
  height: 100px;
  border: #ffffff 0.5px dotted;
  padding: 12px 15px;
}

.dice {
  text-align: center;
  padding: 10px 10px 0 10px;
}

.card {
  margin-top: 10px;
}

.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

img {
  width: 80%;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}